Jaar 1 Project 4/Jaar 1 Project 4/obj/x86/Debug/CreateAccount.g.i.cs
Jaar 1 Project 4/Jaar 1 Project 4/obj/x86/Debug/CreateAccount.g.i.cs
Jaar 1 Project 4/Jaar 1 Project 4/obj/x86/Debug/studentPage.xbf
Jaar 1 Project 4/Jaar 1 Project 4/obj/ARM/Debug/XamlSaveStateFile.xml