<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="60eeff28-5f82-4856-ac62-bd89fbc4ba0e" Publisher="CN=Ino" Version="1.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="60eeff28-5f82-4856-ac62-bd89fbc4ba0e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Jaar 1 Project 4</DisplayName>
    <PublisherDisplayName>Ino</PublisherDisplayName>
    <Logo>custom_Assets\Storelogo\appIcon.jpg</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Jaar_1_Project_4.App">
      <uap:VisualElements DisplayName="Hogeschool Rotterdam Open Dag" Square150x150Logo="custom_Assets\appIcon.jpg" Square44x44Logo="Assets\Square44x44Logo.png" Description="Jaar 1 Project 4" BackgroundColor="transparent">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>